body {
  height: 5000px;
  background-color: #05141a;
}
.animation, .animationLayer {
  height: 100%;
}
.animation {
  display: block;
  position: relative;
  z-index: 10;
}
.animationLayer {
  background-position: center bottom;
  background-size: auto 1038px;  
  background-repeat:repeat-x;
  /* position: absolute; */

}
.animationLayer.parallax {
  position: fixed;
}

#background {
  width: 100%;
  background-image: url('../assets/background.png');
  border-color: #05141a;
  border-width: 3px;
}
#foreground1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

#foreground2 {
  position: absolute;
  bottom: 0;
  left: 25%;
}
#foreground3 {
  position: absolute;
  bottom: 0;
  left: 49%;
}
#foreground4 {
  position:absolute;
  bottom:0;
  right:0;
}
/* #cloud1 {
  position: absolute;
  top: 3%;
}
#cloud2 {
  position: absolute;
  top: 3%; 
  left: 5%
} */